<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="css/bootstrap.css">
        <!--[if lt IE 9]>
        <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
        <![endif]-->
        <script src="../bower_components/angular/angular.js"></script>
        <script src="../bower_components/elastic.js/dist/elastic.js"></script>
        <script src="../bower_components/elastic.js/dist/elastic-angular-client.js"></script>
        <script src="js/ng-table.js"></script>
        <script src="js/regions.js"></script>
        <script src="js/categories.js"></script>
        <script src="../src/scripts/02-app.js"></script>
        <script src="../src/scripts/03-bzModel.js"></script>
    </head>
<body ng-app="main">
<h1>Table with pagination</h1>

<div ng-controller="DemoCtrl">

    <h1>{{ item.title }}</h1>
    <div ng-bind-html="item.getBody()"></div>
    <span class="badge" ng-repeat="tag in item.tags">{{tag.title}}</span>
    
    <div class="row">
        <div class="col col-lg-6">
            <h3>По темі</h3>

            <table class="table">
            <tr ng-repeat="item in data">
                <td>
                    {{ item.title }}
                    <span class="badge" ng-repeat="tag in item.tags">{{tag.title}}</span>
                </td>
            </tr>
            </table>
        </div>
        <div class="col col-lg-6">
            <h3>Цікаві</h3>

            <table class="table">
            <tr ng-repeat="item in fromCategory">
                <td>
                    {{ item.title }}
                    <span class="badge" ng-repeat="tag in item.tags">{{tag.title}}</span>
                </td>
            </tr>
            </table>
        </div>
    </div>

        <script>
        var app = angular.module('main', ['bzModel', 'ngTable', 'news.categories', 'news.regions']).
        config(function(bzModelProvider) {
            bzModelProvider.url('http://news.mistinfo.com')
                           .index('news.mistinfo.com');
        }).
        run(function($rootScope, newsCategories, newsRegions) {
            var categories = {};

            angular.forEach(newsCategories, function(value) {
                if (!value.categories) {
                    categories[parseInt(value.id)] = value;
                } else {
                    angular.forEach(value.categories, function(item) {
                        item.group = value;
                        categories[parseInt(item.id)] = item;
                    });
                }
            });

            $rootScope.categories = categories;
            $rootScope.regions = newsRegions;
        }).
        factory('NewsItem', function(bzModel, $filter, $rootScope, $sce) {
            var dateFilter = $filter('date');
            
            return new bzModel({
                $name: 'com_news_news',
                $defaults: {
                    id: 1,
                    title: 'Untitled',
                    estimate: ''
                },
                getId: function() {
                    return this.id;
                },
                getBody: function() {
                    return $sce.trustAsHtml(this.body);
                },
                getCategory: function() {
                    return $rootScope.categories[parseInt(this.category_id)];
                },
                createdAt: function(format) {
                    this._createdAt = this._createdAt || dateFilter(this.created_at, format || 'medium');
                    return this._createdAt;
                }
            });
        }).
        controller('DemoCtrl', function($scope, NewsItem, ngTableParams, newsCategories) {
            var model = new NewsItem();

            $scope.item = model.$search({ 'id': 21243 }).$get();
            $scope.item.$promise.then(function(item) {
                var tags = [];
                angular.forEach(item.tags, function(tag) {
                    tags.push(tag.title);
                });
                
                $scope.data = model.$search({
                    'tags.title': tags,
                    $exclude: {
                        'id': item.id
                    }
                }).$execute({
                    count: 5,
                    sorting: {
                        'top_expiration_date': 'desc'
                    }
                });
                
                $scope.fromCategory = model.$search({
                    'category_id': item.category_id,
                    $exclude: {
                        'id': item.id
                    }
                }).$execute({
                    count: 5,
                    sorting: {
                        'top_expiration_date': 'desc'
                    }
                });
            });
        })
        </script>

</div>


    </body>
</html>